:root{
  /* colors */
  --mainColor: #DEBB69;
  --subColor: #E0D0C1;
  --linkColor: #698DDE;
  --defaultTextColor: #695B5B;

  /* fonts */
  --largeFontSize:26px;
  --defaultFontSize: 16px;
}

@custom-media --mobile (max-width: 415px);
